@model IEnumerable<PrimeHomes.Models.Property>

@{
    ViewData["Title"] = "List Of Properties";
    Layout = "_AdminLayout";
}
  




<p>
    <a class="float-right btn btn-primary" asp-action="Create"><i class="fa-regular fa-building"></i> Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
             <th>
                @Html.DisplayNameFor(model => model.ImageUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.SizeRange)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListingNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bedrooms)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bathrooms)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Area)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.Features)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.Stock)
            </th>
           
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <img src="@item.ImageUrl" class="rounded-circle placeholder" style="width:65px;">
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
          
            <td>
                @Html.DisplayFor(modelItem => item.SizeRange)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ListingNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bedrooms.Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bathrooms.Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Area.Name)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.Features.Name)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.Stock.Name)
            </td>
            
          
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
