@model IEnumerable<PrimeHomes.Models.TeamMembers>

@{
    ViewData["Title"] = "List of TeamMembers";
     Layout = "_AdminLayout";
}



<p>
    
</p>
<div class="row d-flex justify-content-center">
    <div class="col-md-10">
<table class="table">
    <a class="float-right btn btn-primary" asp-action="Create"> <i class="fa-solid fa-people-group"></i> Create New</a>
    <thead>
        <tr>
             <th>
                @Html.DisplayNameFor(model => model.ImageUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Position)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.FacebookUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TwitterUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LinkendenUrl)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
             <td>
               <img src="@item.Name" style="width:60px;" class="rounded-circle">
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Position)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.FacebookUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TwitterUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LinkendenUrl)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
</div>